# git files
.git/

# vscode
.vscode/

# ci/cd files
.github/

# husky scripts
.husky/

# dependencies
node_modules/

# source code
src/

# testing data
data/

# development scripts
scripts/

# documentation
docs/

# testing files
test/

# backup files
*.bak

# vim swap files
*.sw[nop]

# configuration files
.gitattributes
.editorconfig
.eslintrc.js
.babelrc.json
commitlint.config.js
jsconfig.json
tsconfig.json

# ignore lists
.gitignore
.npmignore

# to reduce the final package size
package-lock.json
